body {
    background-color: #0F0F1C;
    color: #FFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #FFF;
}

form {
    background-color: #1A1A2E;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
}

label {
    color: #FFF;
    display: block;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: #2C2C54;
    color: #FFF;
}

input.enviar {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #6D214F;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input.enviar:hover {
    background-color: #8D4071;
}
