body {
    background-color: #0F0F1C;
    color: #FFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #1A1A2E;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #FFF;
    margin-bottom: 10px;
}

input {
    width: 60%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: #2C2C54;
    color: #FFF;
}

.botao {
    background-color: #6D214F;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #8D4071;
}

.container {
    background-color: #1A1A2E;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.numeros {
    margin-top: 20px;
    text-align: center;
}

.numero {
    background-color: #1A1A2E;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    text-align: center;
    margin: 5px;
    display: inline-block;
}
